$bgColor: #f9fbfc;
$radius: 4px;
$inputRadius: 6px;
$shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$font: 'Nunito Sans', sans-serif;
$labelColor: #606361;
$lightGray: #cccdcd;
$textBlack: #212121FF;
$err: #b04760;
$lightBlue: #7a8ebc;